<mat-card class="margin10 padding10">
  <mat-list *ngIf="filme; else semregistro">
    <mat-list-item>Titulo: {{filme.titulo}}</mat-list-item>
    <mat-list-item>Data de Lançamento: {{filme.dtLancamento | date: 'dd/MM/yyyy'}}</mat-list-item>
    <mat-list-item>Genero: {{filme.genero}}</mat-list-item>
    <mat-list-item class="breakable-lines">Descrição: {{filme.descricao}}</mat-list-item>
    <mat-list-item>Nota IMDb: <a [href]="filme.urlIMDb" target="_blank">{{filme.nota}}</a></mat-list-item>
    <img mat-card-image [src]="filme.urlFoto || semFoto">
  </mat-list>
</mat-card>
<mat-card class= "margin10 padding10">
  <mat-card-actions>
    <button color="accent" mat-raised-button (click)="editar()">Editar</button>
    <button color="warn" mat-raised-button (click)="excluir()">Excluir</button>
  </mat-card-actions>
</mat-card>
<ng-template #semregistro>
  <h1 class="full-width main-div">Nenhum Filme Encontrado</h1>
</ng-template>
