<div [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <input  matInput
            type="number"
            [min]="minimo"
            [max]="maximo"
            [step]="step"
            [placeholder]="titulo"
            [name]="controlName"
            [formControlName]="controlName">
    <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'required')">Campo Obrigatório</mat-error>
    <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'min')">O campo nota deve ser maior ou igual a 0</mat-error>
    <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'max')">O campo nota deve ser menor ou igual a 10</mat-error>
  </mat-form-field>
</div>
